/*========= RIGHT PADDING ==========*/
.pr-2 {padding-right: 0.125rem;}
.pr-4 {padding-right: 0.25rem;}
.pr-6 {padding-right: 0.375rem;}
.pr-8 {padding-right: 0.5rem;}
.pr-10 {padding-right: 0.625rem;}
.pr-12 {padding-right: 0.75rem;}
.pr-14 {padding-right: 0.875rem;}
.pr-16 {padding-right: 1rem;}
.pr-20 {padding-right: 1.25rem;}
.pr-24 {padding-right: 1.5rem;}
.pr-28 {padding-right: 1.75rem;}
.pr-32 {padding-right: 2rem; }
.pr-auto {padding-right: auto;}


/*==========PADDING ALL============*/
.p-2 {padding: 0.125rem;}
.p-4 {padding: 0.25rem;}
.p-6 {padding: 0.375rem;}
.p-8 {padding: 0.5rem;}
.p-10 {padding: 0.625rem;}
.p-12 {padding: 0.75rem;}
.p-14 {padding: 0.875rem;}
.p-16 {padding: 1rem;}
.p-20 {padding: 1.25rem;}
.p-24 {padding: 1.5rem;}
.p-28 {padding: 1.75rem;}
.p-32 {padding: 2rem; }
.p-auto {padding: auto;}
